.font-14 {
    font-size: 14px;
}

.text-overflow {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.bg-light {
    background-color: #f8f9fa;
}

.card-title {
    font-weight: bold;
    color: #0b5ed7;
}